/* Sets all font to Arial */
body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

/* Flexbox */
.flexbox {
    display: flex;
  }
  
  /* Left column takes up 60% of the page */
  #flex_left {
    flex: 60%;
  }
  
  /* Left column takes up 40% of the page */
  #flex_right {
      flex: 40%;
  }


/* Style axes color and width */
.axes {
	stroke: rgb(0, 0, 0);
	stroke-width: 2;
}

h3 {
    text-align: center;
}